[submodule "RivBreach"]
	path = RivBreach
	url = https://github.com/dutchpsycho/rivbreach
[submodule "SysQuanta"]
	path = SysQuanta
	url = https://github.com/dutchpsycho/SysQuanta
[submodule "Konflict"]
	path = Konflict
	url = https://github.com/TITAN-Softwork-Solutions/Konflict
[submodule "KFD-Enterprise-Version"]
	path = KFD-Enterprise-Version
	url = https://github.com/dutchpsycho/KFD
