[submodule "RivBreach"]
	path = RivBreach
	url = https://github.com/dutchpsycho/rivbreach
[submodule "SysQuanta"]
	path = SysQuanta
	url = https://github.com/dutchpsycho/SysQuanta
[submodule "Konflict"]
	path = Konflict
	url = https://github.com/TITAN-Softwork-Solutions/Konflict
[submodule "KFD-Enterprise-Version"]
	path = KFD-Enterprise-Version
	url = https://github.com/dutchpsycho/KFD
[submodule "KFD-EDR-Version"]
	path = KFD-EDR-Version
	url = https://github.com/dutchpsycho/KFD.git
[submodule "C"]
	path = C
	url = git@github.com:dutchpsycho/ActiveBreach-C.git
[submodule "C++"]
	path = C++
	url = git@github.com:dutchpsycho/ActiveBreach-CPP.git
[submodule "Rust"]
	path = Rust
	url = git@github.com:dutchpsycho/ActiveBreach-Rust.git
